
<!DOCTYPE html>

<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Libraries/Materialize/materialize.js"></script>

    <link href="~/Libraries/Materialize/materialize.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
