################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RAC.BLL/bin
/RAC.DAL/bin
/RAC.DAL/obj/Debug
/RAC/bin
